body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: 2500px;
    margin: 0;
}

.navbar{
width:100% ;
height:70px ;
box-shadow: 10px 5px 15px 5px rgba(0, 0, 0, 0.5);
}
.navbar .container{
    /* inherit наследует высоту старшего тега */
    height:inherit ;        
   display: flex;
   justify-content: space-between;
   align-items:center ;
    
    }
    
    .navbar-menu{
        /* убирает точки с элементов списка */
        list-style: none;
        /* сбрасывает стандартные стили */
        padding-left: 0;
        /* убирает отступ снизу */
        margin-bottom: 0;
    }

    .navbar-menu li{
        /* делает так чтобы теги делились местом с остальными не занимая всю ширину пространства */
        display: inline-block;
    }

    .navbar-menu li a {
        display: flex;
        /* делает так чтобы теги делились местом с остальными не занимая всю ширину пространства */
        display: inline-block;
        color: #000;
        /* прозрачность */
        opacity: 0.7;
        text-decoration: none;
        /* расстояние между словами  */
        padding: 10px ;
        transition: all 1 ease-in-out;
        border-radius: 20px;
        margin-left: 25px;
        
    }
    .navbar-menu li a:hover {
        opacity: 1;
        background-color:black;
        color: aliceblue;
    }

    .navbar-wrap{
         display: flex;
         flex: row nowrap;
         margin-right: 50px;
    }

    .logo{
        margin-left: 50px;
    }

    .callback{
        display: inline-block;
        margin-left: 30px;
        padding: 10px;
        margin-right: 600px;
    }

    .navbar-brand{
        font-weight: 700;
        font-size: 26px;
        text-decoration: none;
        color: #000;
        transition: all 1 ease-in; 
    }

    .navbar-brand:hover{
         color: coral;     

    }
    /* --------------------------------------информация о нас------------------------ */


    ul.under-body li a {
        text-decoration: none;
        color: aliceblue;
    }

    li {
        list-style-type: none !important;
    }
    div.us {
        background-image:url(pngtree-an-empty-bar-filled-with-stools-and-bars-picture-image_2734357.png) ;
        height: 500px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 75px;
        display: flex;
        border-radius: 20px;
        /* занмиает всю площадь блока */
        background-size: cover;
    }
    div.us img{
     width: auto;
    height: auto; 
    display: block; 
    }

    .button{
        display: flex;
        flex: wrap;
        margin-top: 175px;
        background-color: #c23a11;
        padding:5px ;
        border-radius: 20px;
        color: aliceblue;
        width: 175px;
    }

    .button:hover{
         background-color:rgb(2, 75, 12) ;
    }

    .info{
        text-align: left;
    }
   
    ul.under-body{
        backdrop-filter: blur(10px); /* уровень размытия */
        color: white;
    }

    div.name-special{
        margin-left: 150px;
    }

    .container2{
      width: 400px;
      height: 600px;
      border-radius: 20px;
      background-size: cover;
      display:grid;
      place-items: center;
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 125px;
    }
     
    div.mb1{ 
    background-image:url(бар1.jpg) ;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 20px;
    }

    div.mb2{  
      background-image:url(бар2.jpg) ; 
      width: 100%;
      height: 100%; 
      border-radius: 20px;
      background-size: cover;
    }

    div.mb3{
        background-image:url(бар3.jpg) ;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-size: cover;
    }

    .text-img{
        display: flex;
    }

    .box1{
        width: 400px;
        height: 400px;
        margin-left: 150px;
    }

    .box2{
        width: 400px;
        height: 400px;
        margin-left: 75px;
        margin-right: 75px;
       
    }

    .box3{
        width: 400px;
        height: 400px;
       margin-right: 150px;

    }

    .heading2{
        margin-left: 600px;
        margin-top: 50px;
    }

    .heading3{
        margin-left: 850px;
        margin-top: 50px;
    }


    .container3{
     margin-left: 150px;
     margin-right: 150px;
     display: grid; 
     /* делит контейнер на две равные колонки. */
    grid-template-columns: 1fr 1fr;
    /* добавляет отступ между блоками. */
    gap: 100px ;
    }

    .c3text{ 
        /* временный цвет для наглядности */
     
    }

    .c3img{
        background-image:url(вино.jpg);
        width: 100%;
        height: 768px;
        background-size: cover;
        border-radius: 20px;

    }

    h2{
        margin-left: 300px;
        margin-top: 50px;
        margin-right: 330px;
        background-color: #c23a11;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        padding: 5px 3px;
    }

    p{
        margin-top: 50px;
        margin-left: 250px;
        margin-right: 270px;
        border: 2px solid #000;
        border-radius: 20px;
        overflow: hidden;
        text-align: center;
        padding: 5px 3px;
        width: 250px;
    }

    .my-button {
        background-color: #ffffff; /* белый фон */
        color: rgb(0, 0, 0); /* черный цвет текста */
        padding: 15px 32px; /* Отступы */
        text-align: center; /* Выравнивание текста по центру */
        text-decoration: none; /* Убирает подчеркивание */
        display: inline-block; /* Встраиваемый блок */
        font-size: 16px; /* Размер шрифта */
        margin: 4px 2px; /* Отступы вокруг кнопки */
        cursor: pointer; /* Указатель курсора при наведении */
        border: 2px solid #000; 
        border-radius: 4px; /* Закругленные углы */
        margin-left: 275px;
        margin-top: 150px;
        border-radius: 20px;
    }

    .my-button:hover {
        background-color: #000000; /* Цвет при наведении */
        color: #ffffff;
    }
   

    